@page "/"
@using StaffTemplate.Shared.Services
@inject IEmployeeService EmployeeService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>Lista de Empleados</h3>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var employee in employees)
        {
            <li>@employee.FirstName @employee.LastName</li>
            <li>@employee.CURP @employee.CURP</li>
        }
    </ul>
}

@code {
    private List<Employee> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployeesAsync();
    }
}
